
@mixin card-colors ($colors) {
    @each $key, $color in $colors {
        &--#{$key} {
            background-color: map-get($colors, $key);
        }
    }

}


@mixin btn-colors ($colors) {
    @each $key, $color in $colors {
        &--#{$key} {
            background-color: map-get($colors, $key);
        }
    }

}

@mixin btn-outline ($colors) {
    @each $key, $color in $colors {
        &--#{$key} {
            background-color: #fff;
            border: solid 1px map-get($colors, $key);
            color: map-get($colors, $key);
        }
    }
    
}