.btn {
    width: 100%;
    height: 2rem;
    color: #fff;
    border: transparent;
    border-radius: 5px 5px 5px 5px;
    @include btn-colors($colors);
    &:hover {
        cursor: pointer;
    }
    &:focus {
        box-shadow: .5px .5px 2px grey;
    }
}