input {
    width: 100%;
    height: 2rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(226, 226, 226);
    box-sizing: border-box; 
    outline: none;   
    border: 1px solid $primary-color;
    border-radius: 5px 5px 5px 5px;
    transition: background-color .2s linear;
    &:focus{
        background-color: #fff;    
        border: 0px solid; 
        border: 2px solid $primary-color; 
        border-radius: 5px 5px 5px 5px;          
    }    
}

.input-block {
    width: 100%;
    i {
        position: absolute;     
    }
    .icon {
        padding: .5rem; 
        color: $secondary-color; 
        min-width: 50px; 
    
    }
}


